{% extends 'base.html.twig' %}

{% block title %}PZ Server Stats{% endblock %}

{% block body %}
    <h1>Number of players : {{ playerCount }}</h1>
    <table>
        <th>
            <td>Player Name</td>
        </th>
        {% for player in players %}
        <tr>
            <td>{{ player }}</td>
        </tr>
        {% endfor %}
    </table>



{% endblock %}
