@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
    background-color: #242a38;
}

body>.container{
    background-color: #B9E9F7;
}

.panel-image{
    max-height: 200px;
}

h1.ts-h1{
    font-family: "Fjalla One", sans-serif;
    font-size: 1.5rem;
    color: #242a38;
}

h1.ts-h1.main-title{
    font-size: 2.5rem;
}